# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anwar\Desktop\Python\Module_8\Basic_Dictionary_Assignmet-master\more_fun_with_collections\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
